div.cases {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 165px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
}

div.cases h2,
div.cases h5 {
  background: linear-gradient(92.48deg, #0199EE 2.11%, #01E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 13px;
}

div.cases h5 {
  font-size: 25px;
}